@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #404040;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

:root {
  --job-left: polygon(
    0.75px 24px,
    0.75px 24px,
    1.0543038px 20.2287342px,
    1.9353024px 16.6512096px,
    3.3451266px 13.3152954px,
    5.2359072px 10.2688608px,
    7.559775px 7.559775px,
    10.2688608px 5.2359072px,
    13.3152954px 3.3451266px,
    16.6512096px 1.9353024px,
    20.2287342px 1.0543038px,
    24px 0.75px,
    calc(100% - 48px) 0.75px,
    calc(100% - 48px) 0.75px,
    calc(100% - 44.228637px) 1.0543038px,
    calc(100% - 40.651056px) 1.9353024px,
    calc(100% - 37.315119px) 3.3451266px,
    calc(100% - 34.268688px) 5.2359072px,
    calc(100% - 31.559625px) 7.559775px,
    calc(100% - 29.235792px) 10.2688608px,
    calc(100% - 27.345051px) 13.3152954px,
    calc(100% - 25.935264px) 16.6512096px,
    calc(100% - 25.054293px) 20.2287342px,
    calc(100% - 24.75px) 24px,
    calc(100% - 24.75px) calc(50% - 118.028px),
    calc(100% - 24.75px) calc(50% - 118.028px),
    calc(100% - 24.657934px) calc(50% - 115.158227px),
    calc(100% - 24.383552px) calc(50% - 112.312016px),
    calc(100% - 23.929578px) calc(50% - 109.497629px),
    calc(100% - 23.298736px) calc(50% - 106.723328px),
    calc(100% - 22.49375px) calc(50% - 103.997375px),
    calc(100% - 21.517344px) calc(50% - 101.328032px),
    calc(100% - 20.372242px) calc(50% - 98.723561px),
    calc(100% - 19.061168px) calc(50% - 96.192224px),
    calc(100% - 17.586846px) calc(50% - 93.742283px),
    calc(100% - 15.952px) calc(50% - 91.382px),
    calc(100% - 7.53px) calc(50% - 80.018px),
    calc(100% - 7.53px) calc(50% - 80.018px),
    calc(100% - 5.2415679999999px) calc(50% - 76.485264px),
    calc(100% - 3.4432639999999px) calc(50% - 72.753832px),
    calc(100% - 2.135976px) calc(50% - 68.871068px),
    calc(100% - 1.320592px) calc(50% - 64.884336px),
    calc(100% - 0.99799999999999px) calc(50% - 60.841px),
    calc(100% - 1.169088px) calc(50% - 56.788424px),
    calc(100% - 1.834744px) calc(50% - 52.773972px),
    calc(100% - 2.995856px) calc(50% - 48.845008px),
    calc(100% - 4.653312px) calc(50% - 45.048896px),
    calc(100% - 6.808px) calc(50% - 41.433px),
    calc(100% - 16.923px) calc(50% - 26.663px),
    calc(100% - 16.923px) calc(50% - 26.663px),
    calc(100% - 18.381213px) calc(50% - 24.389318px),
    calc(100% - 19.695024px) calc(50% - 22.040504px),
    calc(100% - 20.862291px) calc(50% - 19.623506px),
    calc(100% - 21.880872px) calc(50% - 17.145272px),
    calc(100% - 22.748625px) calc(50% - 14.61275px),
    calc(100% - 23.463408px) calc(50% - 12.032888px),
    calc(100% - 24.023079px) calc(50% - 9.412634px),
    calc(100% - 24.425496px) calc(50% - 6.758936px),
    calc(100% - 24.668517px) calc(50% - 4.078742px),
    calc(100% - 24.75px) calc(50% - 1.379px),
    calc(100% - 24.75px) calc(100% - 24px),
    calc(100% - 24.75px) calc(100% - 24px),
    calc(100% - 25.054293px) calc(100% - 20.228637px),
    calc(100% - 25.935264px) calc(100% - 16.651056px),
    calc(100% - 27.345051px) calc(100% - 13.315119px),
    calc(100% - 29.235792px) calc(100% - 10.268688px),
    calc(100% - 31.559625px) calc(100% - 7.559625px),
    calc(100% - 34.268688px) calc(100% - 5.2357919999999px),
    calc(100% - 37.315119px) calc(100% - 3.345051px),
    calc(100% - 40.651056px) calc(100% - 1.935264px),
    calc(100% - 44.228637px) calc(100% - 1.054293px),
    calc(100% - 48px) calc(100% - 0.75px),
    24px calc(100% - 0.75px),
    24px calc(100% - 0.75px),
    20.2287342px calc(100% - 1.0542929999999px),
    16.6512096px calc(100% - 1.9352639999998px),
    13.3152954px calc(100% - 3.3450510000001px),
    10.2688608px calc(100% - 5.2357919999999px),
    7.559775px calc(100% - 7.559625px),
    5.2359072px calc(100% - 10.268688px),
    3.3451266px calc(100% - 13.315119px),
    1.9353024px calc(100% - 16.651056px),
    1.0543038px calc(100% - 20.228637px),
    0.75px calc(100% - 24px),
    0.75px 24px
  );
  --job-right: polygon(
    calc(100% - 1.25px) 24px,
    calc(100% - 1.25px) 24px,
    calc(100% - 1.5542929999999px) 20.2287342px,
    calc(100% - 2.4352639999999px) 16.6512096px,
    calc(100% - 3.845051px) 13.3152954px,
    calc(100% - 5.7357919999999px) 10.2688608px,
    calc(100% - 8.059625px) 7.559775px,
    calc(100% - 10.768688px) 5.2359072px,
    calc(100% - 13.815119px) 3.3451266px,
    calc(100% - 17.151056px) 1.9353024px,
    calc(100% - 20.728637px) 1.0543038px,
    calc(100% - 24.5px) 0.75px,
    48.5px 0.75px,
    48.5px 0.75px,
    44.7287342px 1.0543038px,
    41.1512096px 1.9353024px,
    37.8152954px 3.3451266px,
    34.7688608px 5.2359072px,
    32.059775px 7.559775px,
    29.7359072px 10.2688608px,
    27.8451266px 13.3152954px,
    26.4353024px 16.6512096px,
    25.5543038px 20.2287342px,
    25.25px 24px,
    25.25px calc(50% - 118.028px),
    25.25px calc(50% - 118.028px),
    25.1579202px calc(50% - 115.158227px),
    24.8835016px calc(50% - 112.312016px),
    24.4294754px calc(50% - 109.497629px),
    23.7985728px calc(50% - 106.723328px),
    22.993525px calc(50% - 103.997375px),
    22.0170632px calc(50% - 101.328032px),
    20.8719186px calc(50% - 98.723561px),
    19.5608224px calc(50% - 96.192224px),
    18.0865058px calc(50% - 93.742283px),
    16.4517px calc(50% - 91.382px),
    8.02951px calc(50% - 80.018px),
    8.02951px calc(50% - 80.018px),
    5.741202919px calc(50% - 76.485264px),
    3.943015072px calc(50% - 72.753832px),
    2.635831753px calc(50% - 68.871068px),
    1.820538256px calc(50% - 64.884336px),
    1.498019875px calc(50% - 60.841px),
    1.669161904px calc(50% - 56.788424px),
    2.334849637px calc(50% - 52.773972px),
    3.495968368px calc(50% - 48.845008px),
    5.153403391px calc(50% - 45.048896px),
    7.30804px calc(50% - 41.433px),
    17.4226px calc(50% - 26.663px),
    17.4226px calc(50% - 26.663px),
    18.8807999px calc(50% - 24.389318px),
    20.1946272px calc(50% - 22.040504px),
    21.3619333px calc(50% - 19.623506px),
    22.3805696px calc(50% - 17.145272px),
    23.2483875px calc(50% - 14.61275px),
    23.9632384px calc(50% - 12.032888px),
    24.5229737px calc(50% - 9.412634px),
    24.9254448px calc(50% - 6.758936px),
    25.1685031px calc(50% - 4.078742px),
    25.25px calc(50% - 1.379px),
    25.25px calc(100% - 24px),
    25.25px calc(100% - 24px),
    25.5543038px calc(100% - 20.228637px),
    26.4353024px calc(100% - 16.651056px),
    27.8451266px calc(100% - 13.315119px),
    29.7359072px calc(100% - 10.268688px),
    32.059775px calc(100% - 7.559625px),
    34.7688608px calc(100% - 5.2357919999999px),
    37.8152954px calc(100% - 3.345051px),
    41.1512096px calc(100% - 1.935264px),
    44.7287342px calc(100% - 1.054293px),
    48.5px calc(100% - 0.75px),
    calc(100% - 24.5px) calc(100% - 0.75px),
    calc(100% - 24.5px) calc(100% - 0.75px),
    calc(100% - 20.728637px) calc(100% - 1.0542929999999px),
    calc(100% - 17.151056px) calc(100% - 1.9352639999998px),
    calc(100% - 13.815119px) calc(100% - 3.3450510000001px),
    calc(100% - 10.768688px) calc(100% - 5.2357919999999px),
    calc(100% - 8.059625px) calc(100% - 7.559625px),
    calc(100% - 5.735792px) calc(100% - 10.268688px),
    calc(100% - 3.845051px) calc(100% - 13.315119px),
    calc(100% - 2.435264px) calc(100% - 16.651056px),
    calc(100% - 1.554293px) calc(100% - 20.228637px),
    calc(100% - 1.25px) calc(100% - 24px),
    calc(100% - 1.25px) 24px
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(14, 17, 21, 1);
}

.textFill--transparent {
  -webkit-text-fill-color: transparent;
}

.header {
  min-height: calc(100vh - 50px);
}
.header-background {
    clip-path: url(#my-clip-path);
    filter:blur(100px);
}

.job::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  z-index: -1;
  background: #16181b;
  border-radius: inherit;
}

.job.left {
  left: calc(-30vw - 1.5rem);
  clip-path: var(--job-left);
}

.job.left::before {
  clip-path: var(--job-left);
}

.job.right {
  padding-left: 3.75rem;
  right: calc(-30vw - 1.5rem);
  clip-path: var(--job-right);
}

.job.right::before {
  clip-path: var(--job-right);
}
