@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgba(14, 17, 21, 1);
}

.textFill--transparent {
  -webkit-text-fill-color: transparent;
}

.header {
  min-height: calc(100vh - 50px);
}
.header-background {
    clip-path: url(#my-clip-path);
    filter:blur(100px);
}
